name: feedbackkit_flutter
description: Flutter SDK for FeedbackKit - A feedback collection platform for your apps
version: 1.0.0
homepage: https://github.com/Swiftly-Developed/SwiftlyFeedbackKit-Flutter
repository: https://github.com/Swiftly-Developed/SwiftlyFeedbackKit-Flutter
issue_tracker: https://github.com/Swiftly-Developed/SwiftlyFeedbackKit-Flutter/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
